# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
front/dist
front/dist-server
front/tmp
front/out-tsc

# dependencies
front/node_modules
# dependencies
backend/node_modules

# IDEs and editors
front/.idea
front/.project
front/.classpath
front/.c9/
front/*.launch
front/.settings/
front/*.sublime-workspace

# IDE - VSCode
front/.vscode/*
front/!.vscode/settings.json
front/!.vscode/tasks.json
front/!.vscode/launch.json
front/!.vscode/extensions.json

# misc
front/.sass-cache
front/connect.lock
front/coverage
front/libpeerconnection.log
front/npm-debug.log
front/yarn-error.log
front/testem.log
front/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
front/.DS_Store
front/Thumbs.db
